//font style & css reset
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); //英文
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"); //中文
@import "reset";

body {
  background-image: url("https://github.com/vvvvvvii/js-tools/blob/main/schedule/img/hope-house-press-leather-diary-studio-PJzc7LOt2Ig-unsplash.jpg?raw=true");
  background-position: 0 -150px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  padding: 32px;
  line-height: 1.2;
}
h2 {
  margin-bottom: 8px;
}
input {
  padding: 4px;
  margin-left: 4px;
  border: 1px solid #283618;
  border-radius: 5px;
  color: #283618;
  font-size: 20px;
}

.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

.wrap {
  width: 800px;
  padding: 48px;
  margin: 0 auto;
  text-align: center;
  background: #a5a58d;
  color: #283618;
  border-radius: 10px;
}
.inputSection {
  text-align: left;
}
.submitSection {
  margin-left: 20px;
}
.timeInput {
  width: 50px;
}
.contentInput {
  margin-top: 8px;
  width: 300px;
}
.btn {
  font-size: 20px;
  padding: 4px 20px;
  color: #b7b7a4;
  background: #283618;
  border: 1px solid #b7b7a4;
  border-radius: 20px;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
    width: 200px;
    transition: 1s;
    background: #1d180d;
  }
}
.icon {
  margin-right: 4px;
}
.addBtn {
  margin-bottom: 4px;
}

.doneList {
  margin-top: 32px;
  margin-bottom: 28px;
}
.doneItem {
  margin-bottom: 12px;
}
.subtotal {
  margin-bottom: 24px;
}
