.start-cell, .cell, .foundation{
    border: 3px solid #FAFAFA;
    border-radius: 15px;
    width: 100px;
    height: 133px;
}
.foundation{
    background: #ffffff28;
    display: flex;
    justify-content: center;
    align-items: center;
}