.start-cell, .cell, .foundation{
    border: 3px solid #FAFAFA;
    border-radius: 15px;
    width: 100px;
    height: 133px;
}
.start-cell{
    position: relative;
}
.foundation{
    background: #ffffff28;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 100px;
    height: 133px;
    background: #FAFAFA;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: absolute;
    left: -2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &:hover,&:active{
        opacity: .95;
        border: 3px solid #f7f461e7;
        cursor: pointer;
    }
}
