body{
    background-image: url('https://raw.githubusercontent.com/vvvvvvii/js-tools/627b91d08721de41660c80b2417fa554ed2c8ced/solitaire-game/image/background-Start.svg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}
    
.container{
    height: 100vh;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icon-btn{
    width: 45px;
    height: 45px;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
        border: 4px solid $primary;
        border-radius: 50%;
    }
}