//position
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.justify-end{
    justify-content: flex-end;
} 
.align-center{
    align-items: center;
}
//spacing
.ml-1{
    margin-left: 10px;
}
.ml-3{
    margin-left: 26px;
}
.ml-4{
    margin-left: 32px;
}
.mb-1{
    margin-bottom: 10px;
}