/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.font-xs {
  font-size: 16px;
}

.font-sm {
  font-size: 20px;
}

.font-m {
  font-size: 22px;
}

.font-lg {
  font-size: 32px;
}

.font-xl {
  font-size: 45px;
}

.font-xs, .font-lg {
  line-height: 1.2;
}

.font-sm, .font-m, .font-xl {
  line-height: 1.5;
}

.font-weight-regular {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 800;
}

.font-weight-extra-bold {
  font-weight: 900;
}

.font-italic {
  font-style: italic;
}

.text-primary {
  color: #2A4254;
}

.text-secondary {
  color: #C7E7FF;
}

.text-dark {
  color: #316F9E;
}

.text-gray {
  color: #28282873;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ml-1 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 26px;
}

.ml-4 {
  margin-left: 32px;
}

.mb-1 {
  margin-bottom: 10px;
}

.start-cell, .cell, .foundation {
  border: 3px solid #FAFAFA;
  border-radius: 15px;
  width: 100px;
  height: 133px;
}

.start-cell {
  position: relative;
}

.foundation {
  background: #ffffff28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 100px;
  height: 133px;
  background: #FAFAFA;
  -webkit-box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

body {
  background-image: url("https://raw.githubusercontent.com/vvvvvvii/js-tools/627b91d08721de41660c80b2417fa554ed2c8ced/solitaire-game/image/background-Start.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.container {
  height: 100vh;
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-btn {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.icon-btn:hover {
  opacity: 0.8;
  border: 4px solid #2A4254;
  border-radius: 50%;
}
/*# sourceMappingURL=all.css.map */