.dropdown{
    position: relative;
    cursor: pointer;
    &::after{
        content: "\25BC"; //向下箭頭的代碼
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(0, -50%);
        color: $dark;
    }
    &:hover::after{
        color: $info;
    }
}
