//font family
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

//font-weight
.font-bold{
    font-weight: bold;
}

//text-color
.text-secondary{
    color: $secondary;
}
.text-info{
    color: $info;
}

//font-size
.h1{
    font-size: 36px;
}
.h2{
    font-size: 32px;
}
.h3{
    font-size: 28px;
}
.h4{
    font-size: 24px;
}
.h5{
    font-size: 20px;
}
.h6{
    font-size: 16px;
}

