.container{
    padding: 30px 15px;
    background: $secondary;
}
.row{
    display: flex;
}
.col-md-8{
    @media (min-width: 768px) {
        width: 80%;
        @include col-padding;
    }
}
.col-md-4{
    @media (min-width: 768px) {
        width: 40%;
        @include col-padding;
    }
}
.col-12{
    width: 100%;
    @include col-padding;
}