@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

form input, form button {
  border: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-image: none;
}

.container {
  height: 100vh;
  padding: 30px 15px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2f2a4d), to(#000));
  background-image: linear-gradient(0deg, #2f2a4d, #000);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .col-md-8 {
    width: 80%;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    width: 40%;
    height: 100px;
    background: #000;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.col-12 {
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.font-bold {
  font-weight: bold;
}

.text-secondary {
  color: #fefae0;
}

.text-info {
  color: #d3ba4d;
}

.text-dark {
  color: #0b0b0e;
}

.h1 {
  font-size: 36px;
}

.h2 {
  font-size: 32px;
}

.h3 {
  font-size: 28px;
}

.h4 {
  font-size: 24px;
}

.h5 {
  font-size: 20px;
}

.h6 {
  font-size: 16px;
}

.m0-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.p-0 {
  padding: 0;
}

.pl-1 {
  padding-left: 5px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-40 {
  margin-bottom: 40px;
}

.d-none {
  display: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .d-md-block {
    display: block;
  }
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-secondary {
  background: #fefae0;
}

.bg-safe {
  background: #83c591;
}

.bg-danger {
  background: #d12020;
}

.bg-info {
  background: #d3ba4d;
}

.border-left-dark {
  border-left: 1px solid #0b0b0e;
}

.w-100 {
  width: 100%;
}

/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg,#f6d365,#fda085);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header,form{
    min-height: 10vh;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 992px) {
        min-height: 20vh;
    }
}

header{
    font-size: 1.5rem;
    @media (min-width: 768px) {
        font-size: 1.8rem;
    }
    @media (min-width: 992px) {
        font-size: 2rem;
    }
}

form{
    flex-direction: column;
    @media (min-width: 768px) {
        flex-direction: row;
    }
}

form input, form button{
    padding: 0.5rem;
    font-size: 1.2rem;
    border:  none;
    background: white;
    @media (min-width: 992px) {
        font-size: 2rem;
    }
}

form button{
    color: #ff6f47;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        color: white;
        background: #ff6f47;
    }
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: 0.5rem;
    background: white;
    color: #000;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    li{
        flex:1;
    }
}
.todo-item{
    padding: 0 0.5rem;
}
.trash-btn, .complete-btn{
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn{
    background: rgb(73, 204, 73);
}
.trash-btn{
    background: #ff6f47;
}
.fa-trash, .fa-check{ //若未加這行，按到 icon 本身時，無法執行按鈕應有的功能
    pointer-events: none;
}
.completed{     //讓按完完成鍵後，透明度變淡且有線劃掉項目
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

//filter
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
    &::after{
        content: "\25BC"; //向下箭頭的代碼
        position: absolute;
        background: #ff6f47;
        top: 0;
        right: 0;
        padding: .5rem;
        pointer-events: none;
        cursor: pointer;
        transition: all 0.3s ease;
        @media (min-width: 992px) {
            padding: 1rem;
        }
    }
    &:hover::after{
        background: white;
        color: #ff6f47;
    }
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    background-image: none;
    color: #ff6f47;
    cursor: pointer;
    width: 10rem;
    padding: .5rem;
    @media (min-width: 992px) {
        width: 12rem;
        padding: 1rem;
    }
}
*/
/*# sourceMappingURL=all.css.map */