.hamburgerMenu{
    z-index: 1;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding-top: 45px;
    transition: all 1s ease-out;
    &-active{
        left: 0px;
        overflow-x: hidden;
    }
}
.hamburgerMenuExit{
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 50px;
    color: $primary;
    &-active{
        animation: rotate 1.2s 1;
    }
}
@keyframes rotate{
    0% {
        color: $primary;
        transform: rotate(0deg);
    }
    50% {
        color: $safe;
        transform: rotate(360deg);
    }
    100% {
        color: $primary;
        transform: rotate(0deg);
    }
}