.header{
    z-index: 1;
}
.todo-button:hover{
    background: $dark-danger;
}
.todo,.overdue-todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    margin-bottom: 28px;
    font-size: 28px;
    transition: all 0.5s ease;
}
.todo{
    background: $primary;
    color: $dark;
    &:hover, &:active{
        color: $primary;
        background: $dark;
    }
}
.overdue-todo{
    background: $danger;
    color: $white;
    &:hover, &:active{
        background: $dark-danger;
    }
}
.todo-item{
    display: flex;
    align-items: center;
    padding: 10px 0 10px 15px;
    flex:1;
    cursor: move;
    
}
.todo-date, .todo-time{
    font-size: 20px;
    @media (min-width: 992px) {
        font-size: 26px;
    }
}
.todo-time{
    margin-left: 15px;
}
.todo-sort{
    margin-left: 15px;
    text-align: center;
    padding: 0 5px;
    font-size: 16px;
    @media (min-width: 768px) {
        font-size: 20px;
    }
    @media (min-width: 992px) {
        font-size: 24px;
    }
}
.todo-detail{
    margin-left: 15px;
    border-left: 1px solid $white;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    @media (min-width: 768px) {
        font-size: 24px;
    }
    @media (min-width: 992px) {
        font-size: 26px;
    }
}
.todo-btn{
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
        flex-direction: row;
    }
}
.danger-btn, .complete-btn{
    color: white;
    border: none;
    padding: 16px 12px;
    cursor: pointer;
    font-size: 12px;
    @media (min-width: 375px) {
        padding: 16px;
        font-size: 16px;
    }
    @media (min-width: 768px) {
        padding: 16px;
        font-size: 16px;
    }
}
.complete-btn{
    background: $safe;
    &:hover{
        background: $dark-safe;
    }
}
.completed{     //讓按完完成鍵後，透明度變淡且有線劃掉項目
    text-decoration: line-through;
    opacity: 0.5;
}
.danger-btn{
    background: $danger;
    &:hover{
        background: $dark-danger;
    }
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

.analyze-btn:hover{
    background: #03045e;
}