@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin: 50px 0 30px 0;
    text-align: center;
    font-size: 40px;
}

header p{
    font-size: 20px;
}

.pads{
    background: lightblue;
    width: 100%;
    display: flex;
    > div{
        height: 100px;
        width: 100px;
        flex:1;
    }
}
.pad1{
    background-color: #60d394;
}

.pad2{
    background-color: #d36060;
}

.pad3{
    background-color: #c060d3;
}

.pad4{
    background-color: #d3d160;
}

.pad5{
    background-color: #6860d3;
}

.pad6{
    background-color: #60b2d3;
}