@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    margin: 50px 0 30px 0;
    text-align: center;
    font-size: 40px;
}

p{
    font-size: 20px;
}

.wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.keyboards{
    display: flex;
    > div{
        background: white;
        border: 1px solid #000;
        height: 100px;
        width: 50px;
        flex:1;
    }
}

.canvas{
    width: 500px;
    height: 250px;
    border: 2px solid #000;
}

.text-center{
    text-align: center;
}

.position-relative{
    position: relative;
}

.position-bottom-center{
    position: absolute;
    bottom: 1%;
    left: -50%;
    right: -50%;
}

.mb-1{
    margin-bottom: 15px;
}

.mb-2{
    margin-bottom: 45px;
}